@import url('https://fonts.googleapis.com/css2?family=Alice&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}


h1 {
    font-family: "Alice", serif;
    font-size: 40px;
    margin: 20px 0;
}

h2 {
    font-family: "Alice", serif;
    color: #4D3E9A;
}

h3 {
    font-family: "Alice", serif;
}

a {
    text-decoration: none;
}

.w25 {
    width: 25%;
}

.w36 {
    width: 36%;
}

.w50 {
    width: 50%;
}

.w45 {
    width: 45%;
}

.w65 {
    width: 65%;
}

.w70 {
    width: 70%;
}

.w100 {
    width: 100%;
}

.bgred {
    background-color: red;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    backdrop-filter: blur(6px);
    z-index: 3;
}

header nav {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 100px;
}

.black {
    color: black;
}

.white {
    color: white;
}

.black:hover {
    color: #4d3e9a;
}

/*HERO*/

.sectionHero {
    height: 100vh;
    position: relative;
}


.bgHero {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.divHero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.divHero>p {
    font-size: 25px;
}

/* SECTION SERVICES */

.carteViolette {
    background-color: #4D3E9A72;
    display: block;
    width: 23%;
    padding: 30px 0;
    text-align: center;
    border-radius: 15px;
    backdrop-filter: blur(8px);
}

.sectionServices {
    position: relative;
    top: -30px;
}

/* SECTION STICKY */

.aside {
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside>p {
    margin: 0.5rem;
}


.sticky {
    position: sticky;
    top: 100px;
}

.top {
    margin-top: 25px;
}

.stikyService {
    position: relative;
    top: -30px;
    background-color: #43368752;
    backdrop-filter: blur(5px);
    text-indent: 5%;
    font-style: italic;
    padding-top: 10px;
}
